{% form_theme form _self %}

{% block color_checkbox_widget %}
    {% spaceless %}        
        <label class="checkbox" for="{{ form.vars.id }}">
            <div
                class="color-preview"
                style="
                    width: 1.4rem;
                    height: 1.4rem;
                    background-color: {{ form.vars.label }};
                    display: inline-block;
                    border: 1px solid black;
                "
            >
            </div>
            {{ form_widget(form, { 'label': false }) }}
        </label>
    {% endspaceless %}
{% endblock %}