services:

    #
    # Directors
    #
    elcodi.director.article:
        class: Elcodi\Component\Core\Services\ObjectDirector
        lazy: true
        arguments:
            - '@elcodi.object_manager.article'
            - '@elcodi.repository.article'
            - '@elcodi.factory.article'

    elcodi.director.category:
        class: Elcodi\Component\Core\Services\ObjectDirector
        lazy: true
        arguments:
            - '@elcodi.object_manager.category'
            - '@elcodi.repository.category'
            - '@elcodi.factory.category'

