services:

    #
    # Stock updaters
    #
    elcodi.stock_updater.article:
        class: Elcodi\Component\Article\StockUpdater\ArticleStockUpdater
        arguments:
            - '@elcodi.object_manager.article'
        tags:
            - { name: elcodi.purchasable_stock_updater }

    elcodi.stock_updater.article_variant:
        class: Elcodi\Component\Article\StockUpdater\VariantStockUpdater
        arguments:
            - '@elcodi.object_manager.article_variant'
        tags:
            - { name: elcodi.purchasable_stock_updater }

    elcodi.stock_updater.purchasable:
        class: Elcodi\Component\Article\StockUpdater\PurchasableStockUpdater
