services:

    #
    # Twig extensions
    #
    elcodi.twig_extension.article:
        class: Elcodi\Component\Article\Twig\ArticleOptionsResolverExtension
        public: false
        arguments:
            - '@elcodi.resolver.article_options'
        tags:
            - { name: twig.extension }

    elcodi.twig_extension.purchasable_name_resolver:
        class: Elcodi\Component\Article\Twig\PurchasableNameResolverExtension
        public: false
        arguments:
            - '@elcodi.name_resolver.purchasable'
        tags:
            - { name: twig.extension }

    elcodi.twig_extension.purchasable_image_resolver:
        class: Elcodi\Component\Article\Twig\PurchasableImageResolverExtension
        public: false
        arguments:
            - '@elcodi.image_resolver.purchasable'
        tags:
            - { name: twig.extension }
            
    elcodi.twig_extension.article_image_resolver:
        class: Elcodi\Component\Article\Twig\ArticleImageResolverExtension
        public: false
        arguments:
            - '@elcodi.image_resolver.article'
        tags:
            - { name: twig.extension }
            
    elcodi.twig_extension.article_price_resolver_extension:
        class: Elcodi\Component\Article\Twig\ArticlePriceResolverExtension
        public: false
        arguments:
            - '@price_resolver.article'
        tags:
            - { name: twig.extension }
