services:

    #
    # Resize
    #
    elcodi.media_resize_adapter.imagemagick:
        class: Elcodi\Component\Media\Adapter\Resizer\ImageMagickResizeAdapter
        arguments:
            - %elcodi.image_resize_converter_bin_path%
            - %elcodi.image_resize_converter_default_profile%

    elcodi.media_resize_adapter.gd:
        class: Elcodi\Component\Media\Adapter\Resizer\GDResizeAdapter
        
    #
    # Combine
    #
    elcodi.media_combine_adapter.imagemagick:
        class: Elcodi\Component\Media\Adapter\Combine\ImageMagickCombineAdapter
        arguments:
            - %elcodi.image_combine_converter_bin_path%
            - %elcodi.image_combine_converter_default_profile%
            - '%kernel.root_dir%/../files/design/preview'
