services:

    #
    # Form Types
    #
    
    elcodi_admin.form_type.article_product:
        class: Elcodi\Admin\ArticleBundle\Form\Type\ArticleProductType
        arguments:
            - %elcodi.entity.product.class%           
            - %elcodi.entity.product_colors.class%      
        calls:
            - [setFactory, ["@elcodi.factory.article_product"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_article_form_type_article }
            
    elcodi_admin.form_type.article:
        class: Elcodi\Admin\ArticleBundle\Form\Type\ArticleType
        arguments:
            - %elcodi.entity.section_category.class%
            - %elcodi.entity.image.class%
            - '@elcodi_admin.form_type.article_product'
        calls:
            - [setFactory, ["@elcodi.factory.article"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_article_form_type_article }  
    
    
