{% if purchasables|length > 0 %}
<div class="article-related">
    <div class="grid">
        <div class="col-1-1">
            <h2 class="article-title">{{ "template.store_template_bundle.article.also_like"|trans }}</h2>
            {% include "@StoreTemplate/Modules/_purchasable-list.html.twig" with {
                'purchasables' : purchasables
            } %}
        </div>
    </div>
</div>
{% endif %}
