services:

    #
    # Form Types
    #
    elcodi_admin.form_type.product:
        class: Elcodi\Admin\ProductBundle\Form\Type\ProductType
        arguments:
            - %elcodi.entity.image.class%
            - %elcodi.entity.product_sizes.class%
            - %elcodi.entity.manufacturer.class%
            - %elcodi.entity.category.class%
        calls:
            - [setFactory, ["@elcodi.factory.product"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_product_form_type_product }