services:

    #
    # Form Types
    #
    elcodi_admin.form_type.product:
        class: Elcodi\Admin\ProductBundle\Form\Type\ProductType
        arguments:
            - %elcodi.entity.image.class%
            - %elcodi.entity.product_manufacturer.class%
            - '@elcodi.event_listener.price_form'
            - '@elcodi.event_listener.product_colors_form'
            - '@elcodi.event_listener.product_sizes_form'
            - '@elcodi.event_listener.product_print_sides_form'
        calls:
            - [setFactory, ["@elcodi.factory.product"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_product_form_type_product }
            
    elcodi_admin.form_type.manufacturer:
        class: Elcodi\Admin\ProductBundle\Form\Type\ManufacturerType
        arguments:
            - %elcodi.entity.image.class%
        calls:
            - [setFactory, ["@elcodi.factory.product_manufacturer"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_product_form_type_manufacturer }
            
    elcodi_admin.form_type.product_colors:
        class: Elcodi\Admin\ProductBundle\Form\Type\ProductColorsType
        calls:
            - [setFactory, ["@elcodi.factory.product_colors"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_product_form_type_product_colors }
            
    elcodi_admin.form_type.product_sizes:
        class: Elcodi\Admin\ProductBundle\Form\Type\ProductSizesType
        calls:
            - [setFactory, ["@elcodi.factory.product_sizes"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_product_form_type_product_sizes }
            
    elcodi_admin.form_type.product_print_sides:
        class: Elcodi\Admin\ProductBundle\Form\Type\ProductPrintSidesType
        calls:
            - [setFactory, ["@elcodi.factory.print_side"]]
            - [setEntityTranslatorFormEventListener, ["@elcodi.entity_translator_form_event_listener"]]
        tags:
            - { name: form.type, alias: elcodi_admin_product_form_type_print_sides }
            
    elcodi_admin.form_type.product_print_side:
        class: Elcodi\Admin\ProductBundle\Form\Type\ProductPrintSideType
        arguments:
            - '@elcodi.event_listener.product_print_side_form'
        calls:
            - [setFactory, ["@elcodi.factory.product"]]
        tags:
            - { name: form.type, alias: elcodi_admin_product_print_side_form_type_product }
            
    elcodi_admin.form_type.print_side:
        class: Elcodi\Admin\ProductBundle\Form\Type\PrintSideType
        calls:
            - [setFactory, ["@elcodi.factory.print_side"]]
        tags:
            - { name: form.type, alias: elcodi_admin_print_side_form_type_product }