<a href="{{ path('elcodi_plugin_articlecsv_export') }}" type="button" class="button-primary">
    <i class="icon-download" aria-hidden="true"></i>
    {{ 'elcodi_plugin.article_csv.action'|trans }}
</a>
