services:

    #
    # Order state machine for Payment
    #
    elcodi.order_payment_states_machine_builder:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineBuilder
        arguments:
            - '@elcodi.factory.state_transition_machine'
            - %elcodi.order_payment_states_machine_identifier%
            - %elcodi.order_payment_states_machine_states%
            - %elcodi.order_payment_states_machine_point_of_entry%

    elcodi.order.payment_states_machine:
        class: Elcodi\Component\StateTransitionMachine\Machine\Machine
        factory:
            - '@elcodi.order_payment_states_machine_builder'
            - compile

    elcodi.order_payment_states_machine_manager:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineManager
        arguments:
            - '@elcodi.order.payment_states_machine'
            - '@elcodi.event_dispatcher.machine'
            - '@elcodi.factory.state_transition_machine_state_line'


    #
    # Order state machine for Shipping
    #
    elcodi.order_shipping_states_machine_builder:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineBuilder
        arguments:
            - '@elcodi.factory.state_transition_machine'
            - %elcodi.order_shipping_states_machine_identifier%
            - %elcodi.order_shipping_states_machine_states%
            - %elcodi.order_shipping_states_machine_point_of_entry%

    elcodi.order.shipping_states_machine:
        class: Elcodi\Component\StateTransitionMachine\Machine\Machine
        factory:
            - '@elcodi.order_shipping_states_machine_builder'
            - compile

    elcodi.order_shipping_states_machine_manager:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineManager
        arguments:
            - '@elcodi.order.shipping_states_machine'
            - '@elcodi.event_dispatcher.machine'
            - '@elcodi.factory.state_transition_machine_state_line'
            
            
    #
    # Order state machine for Production
    #
    elcodi.order_production_states_machine_builder:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineBuilder
        arguments:
            - '@elcodi.factory.state_transition_machine'
            - %elcodi.order_production_states_machine_identifier%
            - %elcodi.order_production_states_machine_states%
            - %elcodi.order_production_states_machine_point_of_entry%

    elcodi.order.production_states_machine:
        class: Elcodi\Component\StateTransitionMachine\Machine\Machine
        factory:
            - '@elcodi.order_production_states_machine_builder'
            - compile

    elcodi.order_production_states_machine_manager:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineManager
        arguments:
            - '@elcodi.order.production_states_machine'
            - '@elcodi.event_dispatcher.machine'
            - '@elcodi.factory.state_transition_machine_state_line'
            
    #
    # Order state machine for Order Workflow
    #
    elcodi.order_workflow_states_machine_builder:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineBuilder
        arguments:
            - '@elcodi.factory.state_transition_machine'
            - %elcodi.order_workflow_states_machine_identifier%
            - %elcodi.order_workflow_states_machine_states%
            - %elcodi.order_workflow_states_machine_point_of_entry%

    elcodi.order.workflow_states_machine:
        class: Elcodi\Component\StateTransitionMachine\Machine\Machine
        factory:
            - '@elcodi.order_workflow_states_machine_builder'
            - compile

    elcodi.order_workflow_states_machine_manager:
        class: Elcodi\Component\StateTransitionMachine\Machine\MachineManager
        arguments:
            - '@elcodi.order.workflow_states_machine'
            - '@elcodi.event_dispatcher.machine'
            - '@elcodi.factory.state_transition_machine_state_line'
