<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    syntaxCheck                 = "false" >

    <testsuites>
        <testsuite name="Bamboo Test Suite">          
			<directory>../src/Elcodi/*/*Bundle/Resources</directory>
			<directory>../src/Elcodi/*/CartCouponBundle/Tests</directory> 			
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/Elcodi/*/*Bundle/Resources</directory>
                <directory>../src/Elcodi/*/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
		<exclude>
			<directory>../src/Elcodi/Bundle/ArticleBundle_bak</directory>
			<directory>../src/Elcodi/Bundle/ArticleBundle</directory>
			<directory>../src/Elcodi/Bundle/CartBundle</directory>
		</exclude>
    </filter>

</phpunit>
