Elcodi\Bundle\PrintableBundle\Entity\Design:
    type: entity
    table: design
    repositoryClass: Elcodi\Bundle\PrintableBundle\Repository\DesignRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        enabled:
            type: boolean
        name:
            type: string
            length: 255
        posX:
            type: integer
        posY:
            type: integer
        createdAt:
            column: created_at
            type: datetime
            nullable: false
        updatedAt:
            column: updated_at
            type: datetime
            nullable: false
        enabled:
            type: boolean
    manyToOne:
        customer:
            targetEntity: Elcodi\Component\User\Entity\Customer
            joinColumn:
                name: customer_id
                referencedColumnName: id
    manyToMany:
        foilcolor:
            targetEntity: Elcodi\Bundle\PrintableBundle\Entity\FoilColor
            joinTable:
                name: designs_foilcolors
                joinColumns:
                  design_id:
                    referencedColumnName: id
                inverseJoinColumns:
                  foil_color_id:
                    referencedColumnName: id
    lifecycleCallbacks:
        preUpdate: [loadUpdateAt]
        prePersist: [loadUpdateAt]
