Elcodi\Bundle\PrintableBundle\Entity\Text:
    type: entity
    table: text
    repositoryClass: Elcodi\Bundle\PrintableBundle\Repository\TextRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        content:
            type: text
        posX:
            type: integer
        posY:
            type: integer
        createdAt:
            column: created_at
            type: datetime
            nullable: false
        updatedAt:
            column: updated_at
            type: datetime
            nullable: false
        enabled:
            type: boolean
    lifecycleCallbacks:
        preUpdate: [loadUpdateAt]
        prePersist: [loadUpdateAt]