services:

    #
    # Factories
    #

    #
    # Factory for Product entities
    #
    elcodi.factory.product:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product.class%"]]
            - [setDateTimeFactory, ["@elcodi.factory.datetime"]]
        arguments:
            - '@elcodi.wrapper.default_prices'
    
    #
    # Factory for ProductManufacturer entities
    #
    elcodi.factory.product_manufacturer:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductManufacturerFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product_manufacturer.class%"]]
            - [setDateTimeFactory, ["@elcodi.factory.datetime"]]
            
    #
    # Factory for ProductColors entities
    #
    elcodi.factory.product_colors:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductColorsFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product_colors.class%"]]
    
    #
    # Factory for ProductSize entities
    #
    elcodi.factory.product:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductSizeFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product-size.class%"]]
            - [setDateTimeFactory, ["@elcodi.factory.datetime"]]