services:

    #
    # Factories
    #

    #
    # Factory for Product entities
    #
    elcodi.factory.product:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product.class%"]]
            - [setDateTimeFactory, ["@elcodi.factory.datetime"]]
        arguments:
            - '@elcodi.wrapper.default_prices'
    
    #
    # Factory for ProductManufacturer entities
    #
    elcodi.factory.product_manufacturer:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductManufacturerFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product_manufacturer.class%"]]
            - [setDateTimeFactory, ["@elcodi.factory.datetime"]]
            
    #
    # Factory for ProductColors entities
    #
    elcodi.factory.product_colors:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductColorsFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product_colors.class%"]]
    
    #
    # Factory for ProductSizes entities
    #
    elcodi.factory.product_sizes:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductSizesFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product_sizes.class%"]]
            
    #
    # Factory for PrintSide entities
    #
    elcodi.factory.print_side:
        class: Elcodi\Bundle\ProductBundle\Factory\PrintSideFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.print_side.class%"]]
            
    #
    # Factory for ProductColor entities
    #
    elcodi.factory.product_color:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductColorFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product_color.class%"]]
    
    
    #
    # Factory for ProductSize entities
    #
    elcodi.factory.product_size:
        class: Elcodi\Bundle\ProductBundle\Factory\ProductSizeFactory
        calls:
            - [setEntityNamespace, ["%elcodi.entity.product_size.class%"]]
