services:

    elcodi_store.store_category_tree:
        class: Store\ProductBundle\Services\StoreCategoryTree
        arguments:
            - "@elcodi.provider.category_tree"
            - %elcodi.core.product.load_only_categories_with_products%
            - %elcodi.core.product.cache_key%
            - "@elcodi.locale"
        calls:
            - [setCache, ["@doctrine_cache.providers.elcodi_categories"]]
            - [setEncoder, ["@elcodi.json_encoder"]]
    
    elcodi.provider.category_tree:
        class: Elcodi\Component\Product\Services\CategoryTree
        arguments:
            - '@elcodi.repository.category'

    elcodi.service.category_integrity_fixer:
        class: Elcodi\Component\Product\Services\CategoryIntegrityFixer

    elcodi.resolver.product_options:
        class: Elcodi\Component\Product\Services\ProductOptionsResolver
