Elcodi\Component\Article\Entity\Article:
    type: entity
    repositoryClass: Elcodi\Component\Article\Repository\ArticleRepository
    table: article

    manyToMany:
        attributes:
            targetEntity: Elcodi\Component\Attribute\Entity\Interfaces\AttributeInterface
            joinTable:
                name: article_attribute
                joinColumns:
                    article_id:
                        referencedColumnName: id
                        onDelete: "CASCADE"
                inverseJoinColumns:
                    attribute_id:
                        referencedColumnName: id
                        onDelete: "CASCADE"
        sectionCategories:
            targetEntity: Elcodi\Bundle\CategoryBundle\Entity\Interfaces\CategoryInterface
            joinTable:
                name: article_section_category
                joinColumns:
                    purchasable_id:
                        referencedColumnName: id
                        onDelete: "CASCADE"
                inverseJoinColumns:
                    category_id:
                        referencedColumnName: id
                        onDelete: "CASCADE"
    
    oneToOne:
        articleProduct:
            targetEntity: Elcodi\Component\Article\Entity\ArticleProduct
            joinColumn:
                name: article_product_id
                referencedColumnName: id
            cascade:
                - persist
   

