$colors-default: (
	foreground: #424242,
	foreground-light: #eeeeee,
	foreground-dark: auto,
	background: #ffffff,
	background-light: auto,
	background-dark: auto,
	body: #ffffff,
	primary: #77af00,
	primary-light: auto,
	primary-dark: auto,
	secondary: #8ccb00,
	secondary-light: auto,
	secondary-dark: auto,
	link: #77af00,
	link-hover: #4c8400,
	link-hover-background: transparent,
	box: #f4f2f2,
	box-light: auto,
	box-dark: auto,
	megacontrast: #000,
	header-background: #ffffff,
	rank: #FCCB04,
	info: #1E72A6,
	ok: #77af00,
	ko: #b32d20,
	warning: #DFB84F,
	input-focus: #ffffea
) !global !default;